.top-navigator-container {
    .top-navigator-inner {
        bottom: 0;
        .top-navigator-item {
            position: fixed;
            bottom: 10px;
            right: 10px;
            display: inline-block;
            z-index: 9999;
            .dir-rtl & {
                left: 10px;
                right: initial;
            }
            .top-navigator-arrow {
                background-color: #2196f3;
                padding: 10px;
                cursor: pointer;
                .arrow-icon {
                    //&.fa .fa-arrow-up;
                    font-size: 20px;
                    aria-hidden: "true";
                }
            }
        }
    }
}
