<div class="top-navigator-inner">
  <div class="top-navigator-item">
      <div class=" top-navigator-arrow visibility-hidden ">
          <div class="icon arrow-icon icon-arrow-up"></div>
          {{!-- <img src="{{_graphicSrc.src}}" alt="{{_graphicSrc.alt}}"/> --}}
      </div>
  </div>
</div>
